:root {
  --branco-principal: #fff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-fundo: #00030c;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor-fundo);
  color: var(--branco-principal);
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50%;
}

.principal {
  background-image: url(/imagens/Background.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.container__botao {
  background-color: var(--botao-azul);
  color: var(--branco-principal);
  padding: 1em;
  border-radius: 4px;
  display: block;
  text-align: center;
}

.container__botao__secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
  color: var(--branco-principal);
  display: block;
  padding: 1em;
  border-radius: 4px;
  text-align: center;
}
